<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/menu.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="/js/index.js"></script>

</head>

<body>
<header id="header">
    <div id="logo" class="menuUp">
        <h1>Toy Front</h1>
        <div id="navToggle">
            <a href="#">Menu</a>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="/gundam/management">Product</a>
            </li>
            <li>
                <a href="#">Forum</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
        </ul>
    </nav>
</header>
<div class="banner">
    <img src="http://ymsgundam.com/image/cache/data/quangcao/banner_sinanju-800x400.jpg">
</div>
<div class="menu">
    <div class="item">
        <strong>Gundam Bandai</strong>
    </div>
    <div class="item">
        <strong>Gundam Bandai</strong>
    </div>
    <div class="item">
        <strong>Gundam Bandai</strong>
    </div>
    <div class="item">
        <strong>Gundam Bandai</strong>
    </div>
    <div class="item">
        <strong>Gundam Bandai</strong>
    </div>
</div>
<div class="content">
    <div class="products">
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<a href="#">-->
                    <!--<img src="http://ymsgundam.com/image/cache/data/hinhsp/bandai/mg/Barbatos6th01-133x133.jpg" />-->
                <!--</a>-->

            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<span>RX-Zeromaru</span>-->
                <!--<span>Price: 500$</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<a href="#">-->
                    <!--<img src="http://ymsgundam.com/image/cache/data/hinhsp/bandai/mg/Barbatos6th01-133x133.jpg" />-->
                <!--</a>-->

            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<span>RX-Zeromaru</span>-->
                <!--<span>Price: 500$</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<a href="#">-->
                    <!--<img src="http://ymsgundam.com/image/cache/data/hinhsp/bandai/mg/Barbatos6th01-133x133.jpg" />-->
                <!--</a>-->

            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<span>RX-Zeromaru</span>-->
                <!--<span>Price: 500$</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<a href="#">-->
                    <!--<img src="http://ymsgundam.com/image/cache/data/hinhsp/bandai/mg/Barbatos6th01-133x133.jpg" />-->
                <!--</a>-->

            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<span>RX-Zeromaru</span>-->
                <!--<span>Price: 500$</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<a href="#">-->
                    <!--<img src="http://ymsgundam.com/image/cache/data/hinhsp/bandai/mg/Barbatos6th01-133x133.jpg" />-->
                <!--</a>-->

            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<span>RX-Zeromaru</span>-->
                <!--<span>Price: 500$</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<a href="#">-->
                    <!--<img src="http://ymsgundam.com/image/cache/data/hinhsp/bandai/mg/Barbatos6th01-133x133.jpg" />-->
                <!--</a>-->

            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<span>RX-Zeromaru</span>-->
                <!--<span>Price: 500$</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<a href="#">-->
                    <!--<img src="http://ymsgundam.com/image/cache/data/hinhsp/bandai/mg/Barbatos6th01-133x133.jpg" />-->
                <!--</a>-->

            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<span>RX-Zeromaru</span>-->
                <!--<br/>-->
                <!--<span>Price: 500$</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>

<div class="footer">
    @Copyright by NQB And MVC
</div>
</body>

</html>