<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #vrPage {
            width: 99%;
            padding: 0 10px 10px 10px;
            height: 90%;
            position: absolute;
            box-sizing: border-box;
            display: block;
        }
    </style>
</head>
<body>
<iframe src="http://www.vr.org.vn/ptpublic_web/ThongTinPTPublic.aspx" id="vrPage" scrolling="none"
        frameborder="0">

</iframe>
<div id="vrContent">

</div>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/verify-vehicle.js"></script>
<script>
    $(function() {
        function checkCookie(name) {
            return getCookie(name);
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        var username = checkCookie('username');
        console.log(username);
        if (username !== null && username.trim() !== '') {
            // $('#staff-username').html(username);
            console.log('true checkcookie');
        } else {
            console.log('false checkcookie');
            location.href = 'http://localhost:8080/staff/login';
        }
    });
</script>

</body>
</html>